$colorInfo: #007bff;

.update {
    font-size: 0.6rem;
}

.cityname {
    font-weight: 800;
    text-transform: capitalize;
}

.dateupdate {
    font-style: italic;
}

.masthead.text-white.text-center {
}

.iconsize {
    font-size: 72px;
    color: $colorInfo;
    small {
        font-size: 30px;
        position: relative;
        top: -30px;
    }
}

.features-icons {
    padding: 0;
    padding-top: 3rem;
}

header.masthead {
    background-image: url('/img/chmury.png');
    background-size: 50%;
    background-color: darken($color: lighten($color: $colorInfo, $amount: 25), $amount: 0*0.7);
    background-position: 50% 0;
    -webkit-animation: cloud 150s linear 0s infinite normal backwards;
    -moz-animation: cloud 150s linear 0s infinite normal backwards;
    -o-animation: cloud 150s linear 0s infinite normal backwards;
    animation: cloud 150s linear 0s infinite normal backwards;
    h1 {
        text-shadow: #000 1px 1px 1px;
    }
}

.iconweather {
    height: 100%;
    max-height: 100%;
    background-color: $colorInfo;
    border-radius: 50%;
}

//animacja chmor
@-webkit-keyframes cloud
{
    0% { background-position: 50% 0; }
    // 25% { background-position: 100%; }
    // 50% { background-position: -50%; }
    // 75% { background-position: 0%; }
    100% { background-position: 100% 0; }
}

@-moz-keyframes cloud
{
    0% { background-position: 50% 50%; }
    25% { background-position: 0% 50%; }
    50% { background-position: 0% 0%; }
    75% { background-position: 50% 0%; }
    100% { background-position: 50% 50%; }
}

@-o-keyframes cloud
{
    0% { background-position: 50% 50%; }
    25% { background-position: 0% 50%; }
    50% { background-position: 0% 0%; }
    75% { background-position: 50% 0%; }
    100% { background-position: 50% 50%; }
}

@keyframes cloud
{
    0% { background-position: 50% 50%; }
    25% { background-position: 0% 50%; }
    50% { background-position: 0% 0%; }
    75% { background-position: 50% 0%; }
    100% { background-position: 50% 50%; }
}